<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SECURE_KEY" value="ocxgXEL5psb7PAllKuCSblc9"/>
    <add key="GOID" value="8540279704"/>
    <add key="LANG" value="sk"/>
    <add key="HTTP_SERVER" value="http://localhost:7777/eshop"/>
    <add key="SUCCESS_URL" value="SuccessPage"/>
    <add key="FAILED_URL" value="FailedPage"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
