@*<div class="grid">
    <div class="col-12-12">
        <div id="products-wrapper">
            <h1>Products</h1>
            <div class="products">
                <div class="product">
                    <form method="post" action="cart_update.php">
                        <div class="product-thumb"><img src="~/Content/Images/android-phone.jpg"></div><div class="product-content">
                            <h3>Android Phone FX1</h3><div class="product-desc">Di sertakan secara rambang yang lansung tidak munasabah. Jika anda ingin menggunakan Lorem Ipsum, anda perlu memastikan bahwa tiada apa yang</div><div class="product-info">
                                Price $200.50 | Qty <select name="product_qty">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select><button class="add_to_cart">Add To Cart</button>
                            </div>
                        </div><input type="hidden" name="product_code" value="PD1001" /><input type="hidden" name="type" value="add" /><input type="hidden" name="return_url" value="aHR0cDovL3NhbndlYmUuY29tL2Fzc2V0cy9wYXlwYWwtc2hvcHBpbmctY2FydC1pbnRlZ3JhdGlvbi8=" />
                    </form>
                </div><div class="product">
                    <form method="post" action="cart_update.php">
                        <div class="product-thumb"><img src="~/Content/Images/lcd-tv.jpg"></div><div class="product-content">
                            <h3>Television DXT</h3><div class="product-desc">Ia menggunakan kamus yang mengandungi lebih 200 ayat Latin, bersama model dan struktur ayat Latin, untuk menghasilkan Lorem Ipsum yang munasabah.</div><div class="product-info">
                                Price $500.85 | Qty <select name="product_qty">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select><button class="add_to_cart">Add To Cart</button>
                            </div>
                        </div><input type="hidden" name="product_code" value="PD1002" /><input type="hidden" name="type" value="add" /><input type="hidden" name="return_url" value="aHR0cDovL3NhbndlYmUuY29tL2Fzc2V0cy9wYXlwYWwtc2hvcHBpbmctY2FydC1pbnRlZ3JhdGlvbi8=" />
                    </form>
                </div><div class="product">
                    <form method="post" action="cart_update.php">
                        <div class="product-thumb"><img src="~/Content/Images/external-hard-disk.jpg"></div><div class="product-content">
                            <h3>External Hard Disk</h3><div class="product-desc">Ada banyak versi dari mukasurat-mukasurat Lorem Ipsum yang sedia ada, tetapi kebanyakkannya telah diubahsuai, lawak jenaka diselitkan, atau ayat ayat yang</div><div class="product-info">
                                Price $100.00 | Qty <select name="product_qty">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select><button class="add_to_cart">Add To Cart</button>
                            </div>
                        </div><input type="hidden" name="product_code" value="PD1003" /><input type="hidden" name="type" value="add" /><input type="hidden" name="return_url" value="aHR0cDovL3NhbndlYmUuY29tL2Fzc2V0cy9wYXlwYWwtc2hvcHBpbmctY2FydC1pbnRlZ3JhdGlvbi8=" />
                    </form>
                </div><div class="product">
                    <form method="post" action="cart_update.php">
                        <div class="product-thumb"><img src="~/Content/Images/wrist-watch.jpg"></div><div class="product-content">
                            <h3>Wrist Watch GE2</h3><div class="product-desc">Memalukan akan terselit didalam di tengah tengah kandungan text. Semua injin Lorem Ipsum didalam Internet hanya mengulangi text, sekaligus menjadikan injin kami sebagai yang terunggul dan tepat sekali di Internet.</div><div class="product-info">
                                Price $400.30 | Qty <select name="product_qty">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select><button class="add_to_cart">Add To Cart</button>
                            </div>
                        </div><input type="hidden" name="product_code" value="PD1004" /><input type="hidden" name="type" value="add" /><input type="hidden" name="return_url" value="aHR0cDovL3NhbndlYmUuY29tL2Fzc2V0cy9wYXlwYWwtc2hvcHBpbmctY2FydC1pbnRlZ3JhdGlvbi8=" />
                    </form>
                </div>
            </div>

            <div class="shopping-cart">
                <h2>Your Shopping Cart</h2>
                <ol>
                    <li class="cart-itm">
                        <span class="remove-itm">
                            <a href="cart_update.php?removep=PD1001&return_url=aHR0cDovL3NhbndlYmUuY29tL2Fzc2V0cy9wYXlwYWwtc2hvcHBpbmctY2FydC1pbnRlZ3JhdGlvbi8=">&times;</a>
                        </span><h3>Android Phone FX1</h3>
                        <div class="p-code">P code : PD1001</div><div class="p-qty">Qty : 1</div><div class="p-price">Price :$200.50</div>
                    </li>
                    <li class="cart-itm">
                        <span class="remove-itm">
                            <a href="cart_update.php?removep=PD1001&return_url=aHR0cDovL3NhbndlYmUuY29tL2Fzc2V0cy9wYXlwYWwtc2hvcHBpbmctY2FydC1pbnRlZ3JhdGlvbi8=">&times;</a>
                        </span><h3>Android Phone FX1</h3>
                        <div class="p-code">P code : PD1001</div><div class="p-qty">Qty : 1</div><div class="p-price">Price :$200.50</div>
                    </li>
                </ol><span class="check-out-txt"><strong>Total : $401</strong> <a href="@Url.Action("CheckOut", "GoPay")">Check-out!</a></span><span class="empty-cart"><a href="cart_update.php?emptycart=1&return_url=aHR0cDovL3NhbndlYmUuY29tL2Fzc2V0cy9wYXlwYWwtc2hvcHBpbmctY2FydC1pbnRlZ3JhdGlvbi8=">Empty Cart</a></span>
            </div>

        </div>

        <div style="clear:both"></div>
    </div>
</div>*@

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="avaxxx@gmail.com">
    <input type="hidden" name="lc" value="SK">
    <input type="hidden" name="amount" value="80.00">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="tax_rate" value="20.000">
    <input type="hidden" name="shipping" value="5.00">
    <input type="hidden" name="bn" value="PP-BuyNowBF:button-with-reflection-preview.jpg:NonHostedGuest">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <table>
        <tr><td><input type="hidden" name="on0" value="Numbers">Numbers</td></tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="1 piece">1 piece €99,00 EUR</option>
                    <option value="2 pieces">2 pieces €190,00 EUR</option>
                    <option value="3 pieces">3 pieces €280,00 EUR</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIH8QYJKoZIhvcNAQcEoIIH4jCCB94CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC+vaM8N9MyQ9tHIxy7MHGZDIPWLNJwK9aFV2aN1Uob4nXlOG49cgzZyfW7aEhw4EkkxO1yBllBEkgtrRBz80IRoIFdxWT4ERLT8B0fSBgPyeXdjs3CgyPccJ0XhN0sXodZabBV23h5Dm5a1n0dpTEYxd1c2Pb4gNClvd5bzTnzfTELMAkGBSsOAwIaBQAwggFtBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECM7ahoTsxl0ugIIBSIe+JxYB6vGy/3mDlNpbAOvNgRsaAdHS59ICMxdkKmWd4fnybufGSYBdInvpTFUq6dMbvWCfaF4tNW/079xDBcumrKLDSGDik9ohHxyS41UQjtMqE/D5H6+wB5NgXdc8KTbbACotHmTYDL1AXrju80wzvmxBPK33LVB2CH8Z3d+nnLG0tkZU9BUKyHdRaykpf9qbCJwiXOhIYiXD+aDMXeIvMatqsnHIeKN3+0B/937VauEtDn18vB7kQPUvSC7n8aurpnz2zM/l6lygwv0yMjTs+RScBDILAaxwGob8NllRgt6u5pF2a7igD7SNPrvHElIgBzqE9/JYMraZEhpUjg2lkFjPGJgzJU6G2W94zkZGpoAnMHYml8mWNTW3E0iD5a4IRe0nAjdk2spvauRQ6kHG7L24zRPYyj7kPOnYc9uxpNJ/rJKuRWKgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDA1MDYxOTExNTBaMCMGCSqGSIb3DQEJBDEWBBQJNAmFx9rDoIGUlwoXuY7nYQxqsDANBgkqhkiG9w0BAQEFAASBgJmiHQxTaycwet3HHteOuzQemoxQqLH0zw5u3Q+hO7ugz2dSm90lHsV7XdaTkSEGWR2Qp2ZZjg1syFNxPdkVctVmu/Cw46kUUr3XZFsQ1b4qUg94yl1xB39EKwquD3r9umGmlWXVcQZkVR+0tMHJWJnhWJ+YW2X5Y6uaPpmz6/5J-----END PKCS7-----
">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>